:root {
  --map-container-height: 50vh;  /* Responsive height based on viewport */
}

.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px); /* Adjust 120px according to your header/footer total height */
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.map-popup {
  display: none;
}

.map-popup.visible {
  display: block;
}

.map-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  z-index: 1000;
}

.popup-content {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
}

.popup-content h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-color);
}

.popup-content div {
  font-size: 14px;
  color: var(--secondary-color);
  padding: 5px;
}

.popup-content a {
  color: var(--primary-color);
  text-decoration: none;
}

.popup-closer {
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 20px;
  color: var(--secondary-color);
  cursor: pointer;
  background: none;
  border: none;
}
